@media screen and (min-width: 830px) {
  .navbar {
    width: 520px;
    i {
      display: none;
    }
  }
  .navbar ul {
    visibility: visible;
    display: flex;
    width: 100%;
    font-size: 0.9em;
    top: 25%;
    background: none;
    li {
      margin-right: 15px;
      padding: 5px;
      a {
        display: block;
        border-radius: 20px;
      }
    }
  }
  .navbar ul li a:hover {
    padding: 0;
  }

  .baniere {
    height: 15rem;
    > h1 {
      margin-left: 20%;
      font-size: 5rem;
    }
    .photoid img {
      transform: scale(1.5);
      position: absolute;
      top: 25%;
      right: 15%;
    }
  }

  .separator {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 8rem;
    margin-top: 5px;
  }
  //ABOUT ME
  section p {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 400px;
    text-align: justify;
  }
  .container {
    display: flex;
    justify-content: center;

    li:hover {
      transition: 1s;
      font-size: 1.5rem;
    }
  }
  #sources {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    h2 {
      width: 100%;
    }
    .separator {
      justify-content: center;
    }
    .openclassrooms {
      width: 50%;
    }
  }
  .liste-cours {
    height: 330px;
  }

  .light {
    .navbar ul li a {
      color: black;
    }
  }
}
