@font-face {
    font-family: 'brushstroke_plainplain';
    src: url('/font/BRUSHSTP-webfont.eot');
    src: url('/font/BRUSHSTP-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/BRUSHSTP-webfont.woff') format('woff'),
         url('/font/BRUSHSTP-webfont.ttf') format('truetype'),
         url('/font/BRUSHSTP-webfont.svg#brushstroke_plainplain') format('svg');
    font-weight: normal;
    font-style: normal;
}

$font: white;
$purple: #7122e4;
$blue: #139ed4;
$gradiant1: linear-gradient(to right, $blue, $purple);
$gradiant2: linear-gradient(to left, $blue, $purple);
$background-color-body:#1b1b1b;

* {
    margin: 0;
}

body {
    background-color: $background-color-body;
    color: $font;
}
h1 {
    font-family: brushstroke_plainplain;
    text-transform: uppercase;
    font-size: 2rem;
}
h2 {
    font-family: brushstroke_plainplain;
}

P {
    line-height: 1.3rem;
}

header {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}
.identite {
    margin-left: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    >.name {
        font-size: 2rem;
    }
    >.profession {
        color: $blue;
    }
}

.navbar {
    margin-top: 2.5%;
    >ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
        a {
            text-decoration: none;
        }
        a:visited {
            color: #979797;
        }
        a:hover {
            color: $font; 
            }
        >li {
            margin-right: 1rem;     
        }
    }
}

.navbar a { 
    background-color: #000000;
    transform: scaleY(1);
    transition: transform 450ms, background-color 300ms 100mx;
    &:hover {
        transform: translateY(25%);
        background-color: $purple;
        }
    }

/* mode responsive

.menu {
    background-color: $purple;
    color: $font;
    width: 5rem;
    display: flex;
    >img {
        height: 30px;
        margin: auto;
    }
}
*/

.baniere {
    background: $gradiant2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    >.portfolio {
        font-size: 5em;
        font-family: 'brushstroke_plainplain', Helvetica, sans-serif;
        position: absolute;
        z-index: 2;
    }
    >.photoid img {
        height: 200px;
        mask-image: linear-gradient(rgba(0, 0, 0, 0.6), transparent);
        margin-left: 25rem ;
        z-index: 1; 
    }
}
/*About Me*/

.aboutme {
    margin: 5rem 0 0 5rem;
    text-align: justify;
    >p {
        width: 40rem;
    }
}

.separator{
    height: 1rem;
    width: 5rem;
    margin-bottom: 3rem;
    background: $gradiant1;
}

/*CV Bloc*/

.cv {
    margin: 5rem 5rem 0 0 ;
    text-align: center;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr 3fr;
}

.formation, .experience { 
    >.separator {
        height: .5rem;
        width: 100%;
    }
}

/*column 1*/

.diplome, .parcours {
    background-color: #2c2b2b;
    margin: 1rem;
    padding: 1rem;
    border-radius: 25px;
}

/*column 2*/

.link {
    height: 0.3rem;
    width: 100%;
    background-color: #2c2b2b;
        margin-top: 7rem;
}

/*column 3*/

.annees {
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
}
.date-1 {
    margin-top: 4rem;
}

.date {
    font-size: 5rem;
    background: $gradiant2;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*column 4*/

.datechemin {
    height: 0.5rem;
    width: 0.5rem;
    margin-left: 50%;
    margin-top: 0.5rem;
    background: $gradiant2;
}

/*column 5*/

.parcours {
    >ul {
        list-style-type: none;
        text-align: left;
    }
}

.logo {
    height: 3rem;
    border-radius: 5px;
}

