@font-face {
  font-family: 'brushstroke_plainplain';
  src: url("/font/BRUSHSTP-webfont.eot");
  src: url("/font/BRUSHSTP-webfont.eot?#iefix") format("embedded-opentype"), url("/font/BRUSHSTP-webfont.woff2") format("woff2"), url("/font/BRUSHSTP-webfont.woff") format("woff"), url("/font/BRUSHSTP-webfont.ttf") format("truetype"), url("/font/BRUSHSTP-webfont.svg#brushstroke_plainplain") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #1b1b1b;
  color: white;
}

h1 {
  font-family: brushstroke_plainplain;
  text-transform: uppercase;
  font-size: 2rem;
}

P {
  line-height: 1.3rem;
}

header {
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
}

.identite {
  margin-left: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.identite > .name {
  font-size: 2rem;
}

.identite > .profession {
  color: #139ed4;
}

.navbar {
  margin-top: 1rem;
}

.navbar > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.navbar > ul a {
  text-decoration: none;
}

.navbar > ul a:visited {
  color: #979797;
}

.navbar > ul a:hover {
  color: white;
}

.navbar > ul > li {
  margin-right: 1rem;
}

.navbar a {
  background-color: #000000;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: background-color 300ms 100mx, -webkit-transform 450ms;
  transition: background-color 300ms 100mx, -webkit-transform 450ms;
  transition: transform 450ms, background-color 300ms 100mx;
  transition: transform 450ms, background-color 300ms 100mx, -webkit-transform 450ms;
}

.navbar a:hover {
  -webkit-transform: translateY(25%);
          transform: translateY(25%);
  background-color: #7122e4;
}

/* mode responsive

.menu {
    background-color: $purple;
    color: $font;
    width: 5rem;
    display: flex;
    >img {
        height: 30px;
        margin: auto;
    }
}
*/
.baniere {
  background: -webkit-gradient(linear, right top, left top, from(#139ed4), to(#7122e4));
  background: linear-gradient(to left, #139ed4, #7122e4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15rem;
}

.baniere > .portfolio {
  font-size: 5em;
  font-family: 'brushstroke_plainplain', Helvetica, sans-serif;
  position: absolute;
  z-index: 2;
}

.baniere > .photoid img {
  height: 200px;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(transparent));
  -webkit-mask-image: linear-gradient(rgba(0, 0, 0, 0.6), transparent);
          mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(transparent));
          mask-image: linear-gradient(rgba(0, 0, 0, 0.6), transparent);
  margin-left: 25rem;
  z-index: 1;
}

/*About Me*/
.aboutme {
  margin: 5rem 0 0 5rem;
  text-align: justify;
}

.aboutme > p {
  width: 40rem;
}

.separator {
  height: 1rem;
  width: 5rem;
  margin-bottom: 3rem;
  background: -webkit-gradient(linear, left top, right top, from(#139ed4), to(#7122e4));
  background: linear-gradient(to right, #139ed4, #7122e4);
}

.cv {
  margin: 5rem 5rem 0 0;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.formation > .separator, .experience > .separator {
  height: .5rem;
  width: 100%;
}

.diplome {
  height: 5rem;
}

h2 {
  font-family: brushstroke_plainplain;
}

.annees {
  width: 10rem;
  margin: auto;
}

.date {
  font-size: 5rem;
  background: -webkit-gradient(linear, right top, left top, from(#139ed4), to(#7122e4));
  background: linear-gradient(to left, #139ed4, #7122e4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.parcours ul {
  list-style-type: none;
  text-align: left;
}
/*# sourceMappingURL=style.css.map */